@model BusTicketBookingSystem.Models.UserDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UmobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UmobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NativeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NativeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatNumberNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatNumberNavigation.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
